"*":
  "exception-reporting":
    userId: "be118361-2df8-b4b5-306b-41b1ad60d152"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontSize: 17
  minimap:
    plugins:
      "find-and-replace": true
      "git-diff": true
      selection: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
