"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
    screenShake:
      enabled: false
  "atom-beautify":
    general:
      _analyticsUserId: "dda7422f-dc48-4171-8299-2a9ef79c16ad"
      analytics: false
  "autocomplete-plus": {}
  "color-picker":
    automaticReplace: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-coffeelint"
      "emmet"
      "git-control"
      "pigments"
      "react"
      "svg-preview"
      "atom-ternjs"
      "autocomplete-modules"
      "activate-power-mode"
      "linter-js-standard-engine"
      "minimap-highlight-selected"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "be118361-2df8-b4b5-306b-41b1ad60d152"
  "find-and-replace": {}
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
    preserveLastSearch: true
  "git-history": {}
  "git-plus":
    general:
      _analyticsUserId: "3c291bf5-761f-4e5d-9804-c2912eeaec3e"
  linter:
    disabledProviders: [
      "JSHint"
    ]
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
    scrollAnimation: true
  "minimap-selection":
    highlightCursorsLines: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-home": {}
    "nuclide-working-sets": {}
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
  tabs:
    enableVcsColoring: true
  "tree-view": {}
  welcome:
    showOnStartup: false
